#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include "jis_keys.h"

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp ESC    &kp Q     &kp W     &kp E        &kp R   &kp T           &kp Y      &kp U   &kp I         &kp O        &kp P          &kp BSPC
&kp TAB    &kp A     &kp S     &kp D        &kp F   &kp G           &kp H      &kp J   &kp K         &kp L        &kp JP_MINS   &kp ENTER
&kp LSHFT  &kp Z     &kp X     &kp C        &kp V   &kp B           &kp N      &kp M   &kp JP_COMM   &kp JP_DOT   &kp UP         &kp JP_SLSH
&kp LCTRL  &kp LGUI  &kp LALT  &kp JP_MHEN  &mo 1   &kp SPACE       &kp ENTER  &mo 2   &kp JP_HENK   &kp LEFT     &kp DOWN       &kp RIGHT
            >;
        };

        NUMBER {
            bindings = <
&trans   &kp F1   &kp F2    &kp F3    &kp F4    &none          &kp JP_COMM    &kp JP_7   &kp JP_8   &kp JP_9      &none         &kp BSPC
&trans   &kp F5   &kp F6    &kp F7    &kp F8    &none          &kp JP_DOT     &kp JP_4   &kp JP_5   &kp JP_6      &kp JP_MINS   &kp JP_SLSH
&trans   &kp F9   &kp F10   &kp F11   &kp F12   &none          &kp JP_0       &kp JP_1   &kp JP_2   &kp JP_3      &kp JP_PLUS   &kp JP_ASTR
&trans   &trans   &trans    &mo 4     &trans    &trans         &trans         &mo 3      &none      &kp JP_UNDS   &kp JP_EQL    &kp ENTER
            >;
        };

        SYMBOL {
            bindings = <
&trans   &kp JP_EXLM   &kp JP_DQT   &kp JP_HASH   &kp JP_DLR    &kp JP_PERC          &kp JP_AMPR    &kp JP_QUOT   &kp JP_LPRN   &kp JP_RPRN   &kp JP_ZKHK   &kp DEL
&trans   &kp CAPS      &kp UP       &kp INS       &kp HOME      &kp PG_UP            &kp JP_TILD    &kp JP_GRV    &kp JP_LCBR   &kp JP_RCBR   &kp JP_PLUS   &kp JP_PIPE
&trans   &kp LEFT      &kp DOWN     &kp RIGHT     &kp END       &kp PG_DN            &kp JP_CIRC    &kp JP_AT     &kp JP_LBRC   &kp JP_RBRC   &kp JP_SCLN   &kp JP_YEN
&trans   &trans        &trans       &none         &trans        &trans               &trans         &trans        &mo 5         &kp JP_COLN   &kp JP_ASTR   &kp JP_UNDS
            >; 
        };


        CURSOR {
            bindings = <
&trans   &none    &none    &none    &none    &none           &none    &none    &none    &none    &none    &none 
&trans   &none    &none    &none    &none    &none           &none    &none    &none    &none    &none    &none 
&none    &none    &none    &none    &none    &none           &none    &none    &none    &none    &none    &none 
&trans   &trans   &trans   &none    &trans   &trans          &trans   &trans   &none    &none    &none    &none
            >;
        };

        MISCELLANEOUS {
            bindings = <
&none   &none   &none   &none    &none    &none        &kp C_VOL_UP   &kp LG(PSCRN)   &none   &none   &none   &none
&none   &none   &none   &none    &none    &none        &kp C_MUTE     &kp PSCRN       &none   &none   &none   &none
&none   &none   &none   &none    &none    &none        &kp C_VOL_DN   &kp LA(PSCRN)   &none   &none   &none   &none
&none   &none   &none   &trans   &trans   &none        &none          &none           &none   &none   &none   &none
            >;
        };
        BLUETOOTH {
            bindings = <
&bt BT_SEL 0   &bt BT_SEL 1   &bt BT_SEL 2   &bt BT_SEL 3   &bt BT_SEL 4   &none                 &none   &none    &none    &none   &none   &none
&none          &none          &none          &none          &none          &bt BT_CLR            &none   &none    &none    &none   &none   &none
&none          &none          &none          &none          &none          &bt BT_CLR_ALL        &none   &none    &none    &none   &none   &none
&none          &none          &none          &none          &none          &none                 &none   &trans   &trans   &none   &none   &none
            >;
        };
    };
};
